
<div ng-controller="Tinifier.TinifierEditTSetting.Controller">

    <umb-dashboard>
        <umb-box>
            <umb-box-content>
                <div style="-webkit-columns: 2 400px; -moz-columns: 2 400px; columns: 2 400px;">

                    <section>
                        <div style="width: 100%">
                            <div class="umb-property" style="display: inline-block;">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Tinify everything</h3>
                                        <p style="width: 100%;">For those who want to oprimize all images in one click. Please be sure that you have enough requests.</p>
                                        <button type="button" class="btn umb-button__button btn-success umb-button--" style="padding: 14px 40px;" data-toggle="modal" ng-click="tinifyEverything()" data-target="#myModal">Tinify everything!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div style="width: 100%">
                            <div class="umb-property" style="display: inline-block; ">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Hard reset</h3>
                                        <p style="width: 100%;">Drop and create Tinifier tables in the DB. Useful in case of issues after migrations.</p>
                                        <button type="button" class="btn btn-warning" style="padding: 14px 40px;" data-toggle="modal" ng-click="stopTinifing()" data-target="#hardResetModal">Stop tinifing!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </umb-box-content>
        </umb-box>

        <umb-box>
            <umb-box-content>

                <section>
                        <div class="umb-property" style="display: inline-block; width: 100%">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <h3>API Key<small class="ng-binding"> (required)</small></h3>
                                    <p style="width: 100%;">You can get it on a <a href="http://goo.gl/gaaz8i" style="color: blue">TinyPNG website</a>. Available free requests could be checked on the "Statistic" tab.</p>
                                    <input id="apiKey" class="umb-property-editor ng-dirty ng-valid ng-valid-required" type="text" style="" ng-model="timage.ApiKey" required="" no-dirty-check>
                                </div>
                            </div>
                        </div>
                </section>
                <!--</div>
        </umb-box-content>
    </umb-box>



    <umb-box>
        <umb-box-content>
            <div style="-webkit-columns: 2 600px; -moz-columns: 2 600px; columns: 2 400px;">-->

                <div style="-webkit-columns: 2 400px; -moz-columns: 2 400px; columns: 2 400px;">


                    <section>
                        <div style="width: 100%">

                            <div class="umb-property" style="display: inline-block">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Optimize on upload<small class="ng-binding"> (optional)</small></h3>
                                        <p style="width: 100%;">You will never get non-optimized images but should wait more on each image upload.</p>
                                        <small>Note: </small><small>This wiil affect both media and immage cropper uploads.</small>
                                        <!--<select id="enableOptimizationOnUpload" ng-options="option.value as option.label for option in options" ng-model="timage.EnableOptimizationOnUpload" style="width: 100%;" no-dirty-check></select>-->
                                        <umb-toggle checked="timage.EnableOptimizationOnUpload"
                                                    on-click="enableOptimizationOnUploadSetting()">
                                        </umb-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div style="width: 100%">

                            <div class="umb-property" style="display: inline-block">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Enable undo optimization<small class="ng-binding"> (optional)</small></h3>
                                        <p style="width: 100%;">You should have an extra space on your server. You always can undo tinified images</p>
                                        <!--<select id="enableUndoOptimization" ng-options="option.value as option.label for option in options" ng-model="timage.EnableUndoOptimization" style="width: 100%;" no-dirty-check></select>-->
                                        <umb-toggle checked="timage.EnableUndoOptimization"
                                                    on-click="enableUndoOptimizationSetting()">
                                        </umb-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div style="width: 100%">

                            <div class="umb-property" style="display: inline-block">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Preserve image metadata<small class="ng-binding"> (optional)</small></h3>
                                        <p style="width: 100%;">You can request that specific metadata is copied from the uploaded image to the compressed version. Keep in mind that preserving metadata adds to the compressed file size.</p>
                                        <!--<select id="preserveMetadata" ng-options="option.value as option.label for option in options" ng-model="timage.PreserveMetadata" style="width: 100%;" no-dirty-check></select>-->
                                        <umb-toggle checked="timage.PreserveMetadata"
                                                    on-click="preserveMetadataSetting()">
                                        </umb-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div style="width: 100%">

                            <div class="umb-property">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Hide left panel<small class="ng-binding"> (optional)</small></h3>

                                        <p style="width: 100%;">If you have a huge website with tons of images left panel could be messy. You can read more here (<a href="http://goo.gl/A5fHws" style="color: blue">http://goo.gl/A5fHws</a>)</p>
                                        <!--<select id="hideLeftPanel" ng-options="option.value as option.label for option in options" ng-model="timage.HideLeftPanel" style="width: 100%;" no-dirty-check></select>-->
                                        <umb-toggle checked="timage.HideLeftPanel"
                                                    on-click="hideLeftPanelSetting()">
                                        </umb-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div style="width: 100%">

                            <div class="umb-property">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">

                                        <umb-content-right>


                                        </umb-content-right>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                </div>
            </umb-box-content>
        </umb-box>
    </umb-dashboard>
</div>





